
*{
 border: border-box;   
}html{
    font-size: 62.5%;
}

.head1logo{
    height:6rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("code logo.png");
}
.head1enter{
    position: absolute;
    right:0;
    top:1rem;
    right:2rem;
    font-size: 1.5rem;
    
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flag{
   margin-bottom:-1.7rem;
   margin-left: 6.5rem;

}
.panel{
    height: 4rem;
    display: flex;
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 1rem;
    border: 0.09rem solid black;
    border-radius: .5rem;
    font-size: 1.3rem;
}
.panel a{
    margin-right: 0.01rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2.3rem;
    text-decoration: none;
    color: black;
}

.panelist{
   display: flex;flex-direction: row; 
   justify-content: center;
   align-items: center;
}
.search{
    height:1.7rem;
    width:11rem;
    background-color: rgba(128, 128, 128, 0.125);
 display: flex;
 position: relative;
  top:1rem;
 left:30rem; 
 border: 0.1rem solid rgba(128, 128, 128, 0.459);
right:2rem;
}
.search input{
    height:1.7rem;
    width:10.7rem;
    border: none;
    background-color: rgba(128, 128, 128, 0);
}
.search i{
    position: absolute;
    z-index: -1;
    left:.5rem;
    top:.2rem;
}
.panel2{
    height: 2rem;
    margin-top: 3rem;
    /* border: 0.1rem solid black; */
}
.panel2 a{
    text-decoration: none;
    margin-right:1rem;
    margin-left: 0.5rem;
    font-size: small;
    color: black;
   font-weight: 550;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.box{
    position: absolute;
    height: 2rem;
    background-color: rgba(128, 128, 128, 0.317);
    width:6rem;
    left:0.4rem;
    top:14.7rem;
    border-radius:0.5rem;
}
.right{
    height: 2000rem;
    width:30%;
    margin-top: -1rem;
    position: relative;
    left:0.2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.32);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

}
.left{
    height: 200rem;
    width:80%;
    
    justify-content: center;
    display: flex;
    margin-top: -1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
   
} 
 .leftbox1{
   height:40rem;
   width:95%;
   border:0.1rem solid rgba(0, 0, 0, 0.459);
   display: flex;
   border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
} 
 .leftbox1content{
width:55%;
/* border: 0.1rem solid black; */
height:80%;
}
.leg{
    position: relative;
    bottom:10rem;
    left:10rem;
    color:red;
    font-size: 1.8rem;
}
.tou{
    position: relative;
    bottom:12.2rem;
    left:10rem;
    text-decoration: none;
    color: red;
    font-size: 2.6rem;
}
.gen{
    position: relative;
bottom:13rem;
color: rgb(72, 71, 71);
font-size: 1.18rem;
left:10rem;
}
.ul{
     flex-direction: column;
     justify-content: space-between;
    display: flex;   
}
.listobj{
    font-size: 1.7rem;
    position: relative;
    bottom:18.5rem;
    right:3rem;
    margin-top: 0.5rem;
    list-style:none;
}
.listobj img{
    position: relative;
    top:1rem;
}
.leftboximg{
width:43%;
position: relative;
top:4rem;
background-repeat: no-repeat;
background-image: url("man.jpg");
/* justify-content: center;
display: flex;    */
right:1rem;
border: 0.1rem solid rgba(0, 0, 0, 0.347);
height:83%;
background-position: center;
background-size: 93% 93%;
}
.leftboximg img{
    position: relative;
    top:26rem;
    left:14rem;  
}
.div{
    display: flex;
}